body{
    margin: 0;
    padding: 0;  
}

a {
    margin: 30px;
    font-size: 30px;
}

.headPage {
    font-size: 25px;
}

.headPage:visited {
	color:  blue;
}

.headPage:hover {
	color: green;
}

.headPage:active {
	color:red;
}

